= simple_form_for([@coupon_list, @order_promotion]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :kind, collection: [['直减', 0],['满减', 1],['打折', 2],['特价',3]], include_blank: false
    = f.input :premise, label_html: {id: 'premise_label'}
    = f.input :discount, label_html: {id: 'discount_label'}

  .form-actions
    = f.button :submit

javascript:
  $(function(){
    $('#order_promotion_kind').change(function(){
      reset_text()
    })
    reset_text()
  })
  function reset_text(){
    var kind = $('#order_promotion_kind').val();
    if(kind == 0){
      $('#premise_label').text('满');
      $('#discount_label').text('直减');
    }else if(kind == 1){
      $('#premise_label').text('每满');
      $('#discount_label').text('减');
    }else if(kind == 2){
      $('#premise_label').text('满');
      $('#discount_label').text('打折');
    }else if(kind == 3){
      $('#premise_label').text('满');
      $('#discount_label').text('只需');
    }
  }